@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/

* {
  padding: 0;
  margin: 0;
}

.Clubs {
  width: 100%;
  height: auto;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 20px 0px;
}
.Clubs_heading {
  width: 100%;
  height: 200px;
  padding: 100px 0px 50px 0px;
  text-align: center;
}

.Clubs_heading .heading {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #fff;
  /* color: #092834; */
  text-transform: uppercase;
}

.Clubs_heading span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  /* color: #092834bb; */
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.Clubs .Clubs_container {
  text-align: center;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.Clubs .Clubs_container .club {
  position: relative;
  align-self: center;
  width: 300px;
  height: 300px;
  margin: 10px 0px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 0 0 #f9ca24;
  transition: all 450ms;
  border: 1px solid white;
  border-bottom: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.Clubs .Clubs_container .club:hover {
  box-shadow: 0 4px 0 0 #f9ca24;
}

.Clubs .Clubs_container .club img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: all 450ms;
  border: 2px slid white;
}

.Clubs .Clubs_container .club:hover img {
  filter: brightness(100%);
  transform: scale(1.08);
}

.Clubs .Clubs_container .club h2,
.Clubs .Clubs_container .club a {
  position: absolute;
  width: 250px;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Clubs .Clubs_container .club h2 {
  background-color: #f9ca24;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 2px 0px;
}

.Clubs .Clubs_container .club a {
  top: 80%;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  border: 2px solid #f9ca24;
  cursor: pointer;
  display: block;
  width: 80px;
  height: 35px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
.Clubs .Clubs_container .club a:hover {
  background-color: #f9ca24;
}
