.user_profile__dropdown {
  /* display: none; */
  /* position: relative; */
  height: 0px;
  width: 50px;
  background-color: white;
  overflow: hidden;
  /* display: none; */
  z-index: 5;
}

.profile_active {
  position: absolute;
  display: flex;
  width: 169px;
  height: auto;
  flex-direction: column;
  transition: all 0.4s;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.514);
  text-decoration: none;
  color: inherit;
}

.user_profile__dropdown_option {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(26, 10, 10); */
  /* border-radius: 10px; */
  box-sizing: border-box;
  box-shadow: 2px 1px 2px #ccc;
  cursor: pointer;
  width: 100%;
  height: 30px;
  padding: 4px;
  margin-top: 5px;
  font-weight: 500;
  color: inherit;
  text-decoration: none !important;
}

.user_profile__dropdown_option:hover {
  color: inherit;
  background-color: rgba(87, 33, 33, 0.075);
}
