.member-club_heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.member-club_heading {
  font-size: 2rem;
  text-transform: uppercase;
  /* display: flex; */
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.795);
  background: linear-gradient(to right, #b0d3dd, #17404b);
  /* background: linear-gradient(to right, #acb6e5, #74ebd5); */
  flex-wrap: wrap;
  border-radius: 5px;
  width: 500px;
  box-shadow: 2px 2px 1px #17404b3b;
}

.parent_member {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* background-image: url("../../assets/member.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.member {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member .member_search {
  width: 70%;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin-top: 24px;
  outline: none;
  color: #f2f2f2f2;
  padding-left: 30px;
  font-weight: 600;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 2px 2px 1px #17404b3b;
}

.member_heading {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.member_heading h4 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  width: 150px;
  padding: 5px;
  background-color: #24c7f9;
  border-radius: 12px;
  color: whitesmoke;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 1px #17404b3b;
}

.member-lists {
  width: 70%;
  margin: 80px 0px !important;
  min-height: 400px;
  margin: 0px auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: space-between; */
  /* overflow-y: scroll; */
}

.member_list {
  height: 40px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s !important;
  margin: 10px auto;
  background-color: #24c7f960;
  box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.185);
}

.member_list-name {
  display: flex;
  width: 200px;
  align-items: center;
}

.member_list-name img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.member_list:hover {
  /* background: #00c6ff;  */
  background: -webkit-linear-gradient(
    to right,
    #008cffbd,
    #00c8ff88
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #008cffbd,
    #00c8ff88
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  box-shadow: 2px 2px 1px 3px #00c8ff33;
  color: white;
}
.member_list span {
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000;
}
