.parent_member {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* background-image: url("../../assets/member.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.member {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member .member_search {
  width: 80%;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 24px;
  margin-top: 24px;
  outline: none;
  color: #f2f2f2f2;
  padding-left: 8px;
  font-weight: 600;
  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.member_heading {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.member_heading h4 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  width: 150px;
  padding: 5px;
  background-color: #f9ca24;
  border-radius: 12px;
}

.member-lists {
  width: 70%;
  margin: 80px 0px !important;
  height: 400px;
  margin: 0px auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: space-between; */
}

.member_list {
  height: 40px;
  width: 100%;
  display: flex;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s !important;
  margin: 10px auto;
}

.member_list-name {
  display: flex;
  width: 200px;
  align-items: center;
}

.member_list-name img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.member_list:hover {
  /* background: #00c6ff;  */
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 12px;
}
.member_list span {
  width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000;
}
