@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/


 
*{
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

/* all clubs */

.top_clubs{
    width: 100%;
    height: 500px;

}

/* clubs heading */

.top_clubs .heading{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px 0px 40px 0px;
    text-align: center;
}

.top_clubs .heading h2{
    position: relative;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: crimson;
    border-bottom:4px solid beige;
    color: #f1f2f6;
    width: 250px;
    text-align: center;
    padding: 6px 12px;
    clip-path: polygon(0% 0%, 80% 0%,100% 100%, 20% 100%);
    box-shadow: 8px 8px 0px #000;
}

/* view all button */

.top_clubs .viewAll{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.top_clubs .viewAll a{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 20px 5px 0px;
}

/* row for clubs */
.row{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  height: 180px;
  background-color: beige;
    
}

.row::-webkit-scrollbar{
 width: 0;
}

/* club */
.club{
text-align: center;
min-width: 200px;
height: 180px;
margin-right: 10px;
transition:  transform 450ms;
background-image: linear-gradient(to right ,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../picture/club/club4.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;

}

.club:hover a{
  letter-spacing: 1.02px;
}

.club  a{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px;
  background-color: crimson;
  padding: 10px 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: beige;
  transition: all 450ms;
}

.club:hover{
    transform: scale(1.05);
}

