@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* 
font-family: 'Poppins', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

/* all clubs */

.top_clubs {
  width: 100%;
  height: auto;
  margin: 0px auto 120px auto;
}

/* clubs heading */

.top_clubs .heading {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px 0px 40px 0px;
  text-align: center;
}

.top_clubs .heading h2 {
  position: relative;
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: crimson;
  border-bottom: 4px solid beige;
  border-right: 4px solid beige;
  color: #f1f2f6;
  width: 250px;
  text-align: center;
  padding: 6px 12px;
  /* clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%); */
  box-shadow: 8px 8px 0px #000;
}

/* view all button */

.top_clubs .viewAll {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-end;
}

.top_clubs .viewAll a {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 20px 5px 0px;
}

/* row for clubs */
.row {
  width: 90%;
  margin: 0px auto;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 20px;
  height: auto;
  /* background-color: #fff;
  border: 2px solid #2980b9; */
}

.row::-webkit-scrollbar {
  width: 0;
}

/* club */
.club {
  text-align: center;
  min-width: 200px;
  height: 300px;
  margin-right: 20px;
  padding: 10px 20px;
  border: 4px solid rgba(119, 119, 119, 0.432);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* box-shadow: inset 0 0 0 0 crimson; */
  transition: linear 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.club:hover {
  transform: scale(1.05);
  border: 4px solid rgba(119, 119, 119, 0.9);
  /* box-shadow: inset 200px 200px 0 0 crimson; */
}

.club a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 14px;
  width: 120px;
  background-color: crimson;
  padding: 10px 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: beige;
  transition: all 450ms;
  border-radius: 20px;
}

.club h2,
.club span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.club span {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: none;
  text-align: center;
  line-height: 12px;
}
