@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0px auto;
}
.navbar {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  height: 130px;
  margin: 0px auto;
  background: linear-gradient(to right, #bc4e9c, #f80759);
  padding: 10px 0px 20px 0px;
  /* box-shadow: 4px 4px 8px #333; */
}

.navbar .navbar_head {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar_logo {
  text-align: center;
  width: 80%;
}

.navbar .navbar_logo .logo {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 700;
  color: #f1c40f;
  line-height: 24px;
}

.navbar .navbar_logo .logo .scam {
  color: #f2f2f2f2;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 600;
  word-spacing: 5px;
}

.navbar .navbar_buttons {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.navbar_buttons .btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 10px 16px;
  /* background-color: #F11446; */
  background-color: #fff;
  border-radius: 12px;
  /* box-shadow: 6px 6px 0px #000; */
  color: #000;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.5s;
  box-shadow: inset 0 0 0 0 crimson;
  cursor: pointer;
}
.navbar_buttons .btn:hover {
  opacity: 0.9;
}

.navbar_underline {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 12px 0px 12px 0px;
}

/* navbar body */
.navbar_body {
  width: 80%;
  margin: 0px auto;
  position: relative;
}

.navbar_body .navbar_links {
  display: flex;
  justify-content: space-around;
}

.navbar_body .navbar_links .navbar_link {
  list-style: none;
}

.navbar_body .navbar_links .navbar_link a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  padding: 5px 10px;
  color: #f1f2f6;
  cursor: pointer;
  text-transform: capitalize;
  /* background: linear-gradient(to right, #74ebd5, #acb6e5) */
}

.navbar_body .navbar_links .navbar_link:hover:not(.active) {
  border-bottom: 2px solid #fff;
}

.active {
  border-bottom: 2px solid #fff;
}
