@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/

.live {
  width: 100%;
  height: 100%;
}

.event-container {
  width: 100%;
  height: 100%;
}

.img_box {
  width: 80%;
  height: 400px;
  margin: 0px auto;
  display: flex;
  margin-top: 30px;
}

.img {
  flex: 0.6;
}

.img_box_text {
  flex: 0.4;
  border-top: 3px solid #ffcf8a;
  border-right: 3px solid #ffcf8a;
  border-bottom: 3px solid #ffcf8a;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 20px;
  display: grid;
  place-items: center;
  background-color: #f8f8f8;
}
.img_box_text h4 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #15455b;
  text-transform: uppercase;
}
.img_box_text .color {
  color: #ffbb71;
  font-size: 24px;
  border-bottom: 4px solid #15455b;
}

.img > img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
