@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/

* {
  padding: 0;
  margin: 0;
}

.gallery_images {
  width: 95%;
  margin: 40px auto 80px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add_image {
  min-width: 120px;
  height: 250px;
  display: grid;
  place-items: center;
  border: 2px solid #fff;
  border-radius: 5px;
}
.add_image > button {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.add_image .plus {
  color: #fff;
  font-size: 45px;
}
.add_image button {
  color: #fff;
}

.gallery_image {
  min-width: 210px;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #fff;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gallery_image img {
  object-fit: cover;
  transition: all 0.4s;
}

.gallery_image img:hover {
  transform: scale(1.03);
  opacity: 0.8;
}

.gallery {
  left: 0;
  width: 100%;
  height: fit-content;
  margin-top: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* background-color: darkturquoise; */
  /* background: #00c6ff; 
  background: -webkit-linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); 
  background: linear-gradient(
    to right,
    #0072ff,
    #00c6ff
  ); 
} */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery_heading {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gallery_heading h2,
.gallery_heading span {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.gallery_heading span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.gallery_heading > h4 {
  font-size: 24px;
  color: antiquewhite;
  margin-top: 10px;
}

.gallery_underline {
  width: 120px;
  height: 3px;
  background-color: crimson;
}
