@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/

.galleryBox {
  width: 100vw;
  height: 100%;
  margin-bottom: 50px;
}

.galleryBox_heading {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-top: 120px;
}
.galleryBox h2 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.galleryBox span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.galleryBox-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.box_Image img {
  border-radius: 5px;
  transition: all 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box_Image img:hover {
  transform: scale(0.98);
}
