.error {
  position: fixed;
  width: 350px;
  right: -525px;
  top: 90px;

  box-sizing: border-box;
  box-shadow: 0px 2px 26px rgba(215, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 1000;
  transition: all 0.3s ease-in;
  background-color: #0086e0a4;
}
.success__error {
  backdrop-filter: blur(10px);
}
.success__error .error_title {
  font-weight: 900;
  color: rgb(197, 0, 0) !important;
}
.error__enable {
  right: 15px;
}

.error_container {
  display: flex;
  align-items: center;
}
.error_icon {
  width: 60px;
  padding: 20px 15px;
}
.error-right-side {
  width: 290px;
  display: flex;
  flex-direction: column;
}
.error_header {
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error_title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.error_body {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 5px;
}

.error-close {
  width: 21px;
  height: 21px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.error-body {
  color: var(--primary-color);
}
