@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  /* background-image: linear-gradient(rgba(0, 63, 99, 0.6), rgba(0, 63, 99, 0.7)),
  url("./components/picture/Home/Home.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover; */
}
