/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --primary-color: #ff0a38;
  --secondary-color: #ffffff;
  --bg-digi: #fcfcfc;
  --bg-dash: #f5f9ff;
  --cabin: "Cabin", sans-serif;
  --primary_color: #ff0a38;
  --primary_color-rgb: 255, 10, 56;
  --secondary_color: #f5f9ff;
  --secondary_color-rgb: 245, 249, 255;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --light_grey: #e0e0e0;
  --light_grey-rgb: 224, 224, 224;
  --grey: #838383;
  --grey-rgb: 131, 131, 131;
  --dark_grey: #696969;
  --dark_grey-rgb: 105, 105, 105;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
  font-family: var(--cabin);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

.highcharts-title {
  font-weight: bolder;
  font-size: 13px !important;
}

.tooltip-graph {
  width: 150px !important;
  background-color: #fff !important;
}
