@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/

* {
  padding: 0;
  margin: 0;
}

.about {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 40px 0px;
  background-color: #f5f6fa;
}

.about .about_heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about .about_heading h2 {
  text-transform: uppercase;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #dc143c;
  border-bottom: 4px solid beige;
  border-right: 4px solid beige;
  color: #f1f2f6;
  width: 250px;
  text-align: center;
  padding: 6px 12px;
  /* clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%); */
  box-shadow: 8px 8px 0px #000;
}

.about1,
.about2,
.about3 {
  width: 100%;
  margin: 35px 0px 60px 0px;
  position: relative;
}

.about1_text {
  width: 70%;
  margin: 0px auto;
  text-align: center;
}

.about1_text p {
  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}
.about1_heading {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  font-weight: 900;
  padding: 0px 0px 8px 0px;
  text-transform: uppercase;
}

.about .features {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}

.feature {
  padding: 30px;
  border: 2px solid crimson;
  border-radius: 35px;
  border-bottom: 8px solid crimson;
}

.feature h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  padding: 18px 0px 18px 0px;
  color: #092834;
}
.feature .feature_img {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  border-radius: 50%;
  position: relative;
  padding: 10px;
  border: 4px solid crimson;
}

.feature .feature_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
