.screen__form {
  margin-top: 75px;
  width: 60%;
  display: flex;
  flex-direction: column;

  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.reg__body__wrapper {
  display: inline-block;
  width: 50%;
}
.reg__body {
  display: flex;
  align-items: center;
}
