.form__control__signup {
  flex: 45%;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.box {
  flex: 45%;
}

.div__input__box {
  width: 95%;
  height: 48px;
  display: flex;
  min-width: 260px;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(172, 172, 172);
  background-color: var(--bg-dash);
  border-radius: 10px;
  position: relative;
}

.form__control__signup > label {
  font-style: normal;
  font-weight: bolder;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #0a0a0a;

  /* btn */

  text-shadow: 0px 3px 99px rgba(0, 0, 0, 0.078);
  margin-bottom: 10px;
  margin-left: 5px;
}

.form__control__signup > .div__input__box > input {
  width: 95%;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;

  padding-left: 15px;
  font-size: 14px;
  outline: none;
}

.form__control > .div__input__box > input::placeholder {
  font-size: 14px;
}

.select__list {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.115);
  width: 100%;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 14rem;
  overflow-y: scroll;
  border: 1px solid #eaeaea;
}

.page__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  /* identical to box height, or 83% */

  color: #282828;
}

@media screen and (max-width: 460px) {
  .form__control__signup {
    flex: 100%;
  }
}
