@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Grotesk', sans-serif;

*/

.showEvent {
  width: 80%;
  margin: 50px auto 80px auto;
  height: 100%;
}

.showEvent_poster {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("../../assets/show.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  justify-content: space-evenly;
  padding-left: 60px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
}

.showEvent_btn > button {
  width: 150px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #1a1f6b;
  border-radius: 5px;
  color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  transition: all 0.5s;
  border: none;
  margin-right: 20px;
}

.showEvent_btn .setReminder {
  width: 180px;
}
.showEvent_btn > button:hover {
  box-shadow: inset 180px 0px #fff;
  color: #000;
  letter-spacing: 1px;
}

.participant_btn {
  position: absolute;
  right: 50px;
  width: 180px;
  bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 0px #000 inset;
  background-color: #d1213e;
}
.participant_btn:hover {
  filter: brightness(0.8);
}
.showEvent_poster_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 200px;
}

.showEvent_prize {
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  background-color: #1a1f6b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.showEvent_prize h3 {
  font-size: 32px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.showEvent_poster_container > h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 500;
  text-transform: capitalize;
  color: #15455b;
}

.showEvent_poster_info {
  min-width: 130px;
  display: flex;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.showEvent_poster_info_left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 120px;
  margin-right: 20px;
}
.poster_info_color {
  margin-right: 15px;
  font-size: 32px;
}

.showEvent_poster_info_left span {
  font-size: 18px;
  color: #15455b;
  font-weight: 500;
}
.showEvent_poster_info_underline {
  width: 2px;
  height: 60px;
  background-color: #fff;
}

.showEvent_poster_info_right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  color: #15455b;
}

.showEvent_poster_info_right span {
  font-weight: 600;
}

.showEvent_detail {
  width: 100%;
  height: 100%;
}
.showEvent_detail > span {
  font-family: "Poppins", sans-serif;
  width: 400px;
  display: block;
  height: 50px;
  background-color: #eeeeee;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 0px 0px 30px 0px;
}

.showEvent_detail h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  color: #15455b;
}
.showEvent_about {
  width: 100%;
  height: max-content;
}

.showEvent_contest_detail li {
  font-size: 16px;
  font-weight: 500;
}
